/* Base Layout */
body {
    background: #fffbef;
    color: #333333;
    display: grid;
    grid-template-areas:
        "navbar     navbar      navbar"
        "content    content     content"
        "footer     footer      footer";
    grid-template-rows: auto auto auto;
}

header {
    grid-area: navbar;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer
}

.bg-leaf {
    background-color: #95BF47;
}

/* Home page Layout */
.wrapper-home {
    display: grid;
    grid-template-areas:
        "sidebar    list";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
}

nav {
    grid-area: sidebar;
}

.item-list {
    grid-area: list;
    display: flex;
    gap: 10px;
    grid-auto-rows: 100px;
    padding: 30px
}

/* Home page Sidebar */
nav > a {
    margin-left: 30px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #b7b09f;
    color: #444444;
}

nav > a:hover {
    background-color: #989385;
    color: #444444;
}

/* Item List View */

/* Article CSS */
.left-justified {
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.bg-leaf {
    background-color: #95BF47;
}

/* Article CSS */
/* -------------------------------------- */
.item-article {
    --itemheight: 90px;
    --itemwidth: 90px;

    display: grid;
    grid-template-areas: "image    primary   secondary tertiary";
    grid-template-columns: minmax(var(--itemwidth), max-content)  minmax(max-content, 1fr)  130px 100px;
    grid-template-rows: var(--itemwidth);
    background: #F0E7D0;
    margin-bottom: 10px;
    border-radius: 15px;
}

.empty {
    grid-template-rows: 30px;
    padding-left: 30px;
    padding-top: 10px;
}

.primary-content {
    grid-area: primary;
    padding-top: 15px;
    padding-left: 30px
}

.secondary-content {
    grid-area: secondary;
    text-align: left;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 10px;
}

.tertiary-content{
    grid-area: tertiary;
    text-align: left;
    padding-top: 15px;
    padding-right: 30px
}

.item-article h4 a {
    color: #444444;
}

.item-article h4 a:hover {
    color: #95BF47;
    text-decoration: none;
}

.item-article img {
    grid-area: image;
    width: var(--itemwidth);
    height: var(--itemheight);
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.item-article p {
    line-height: 1em;
    margin: 0;
    padding-bottom: 4px;
}

/* Item Detailed View */
/* -------------------------------------- */

.item-view {
    --formimgheight: 240px;
    --formimgwidth: 240px;

    display: grid;
    grid-template-areas:
             "image    primary      secondary"
             "buttons  primary      secondary";
    grid-template-columns: var(--formimgwidth) max-content minmax(540px, 1fr);
    grid-template-rows: var(--formimgwidth) max-content;
    background: #F0E7D0;
    margin: 30px;
    padding: 30px;
    border-radius: 15px;
}

.item-view img {
    grid-area: image;
    width: var(--formimgwidth);
    height: var(--formimgheight);
    border-radius: 15px;
    object-fit: cover;
}

.item-view .primary {
    padding: 0 30px;
    line-height: 1em;
}

.item-view .secondary {
    padding: 40px 30px;
}

.item-view p {
    margin: 0 0 10px;
}

/* Buttons - reused throughout */
.buttons {
    grid-area: buttons;
    padding-top: 30px;
}

.buttons a {
    float: left;
    width: var(--formimgwidth);
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: #989385;
    color: #444444;
    text-decoration: none;
}

.item-view .buttons a:hover {
    background-color: #b7b09f;
    text-decoration: none;
}

.form-button {
    float: left;
    width: var(--formimgwidth);
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: #989385;
    color: #444444;
}

/* Item Form */
/* -------------------------------------- */
.item-form {
    --formimgheight: 360px;
    --formimgwidth: 360px;

    display: grid;
    grid-template-areas:
             "image    form"
             "buttons  form";
    grid-template-columns: var(--formimgwidth) minmax(max-content, 1fr);
    grid-template-rows: var(--formimgwidth) max-content;
    background: #F0E7D0;
    margin: 30px;
    padding: 30px;
    border-radius: 15px;
}

.item-form img {
    grid-area: image;
    width: var(--formimgwidth);
    height: var(--formimgheight);
    border-radius: 15px;
    object-fit: cover;
}

.item-form fieldset {
    margin: 0 30px;
    grid-area: form;
}

.item-form button {
    grid-area: buttons;
}
