{% extends "base.html" %}

<!-- In the head of the HTML file-->
{% block title %} New Item Form {% endblock %}

{% block content %}
    <div class="form-section">
        <div>
            <figure class="form-image">
                <img src="/static/item_images/default.jpg" alt="This is an image">
            </figure>
        </div>

        <form class="form-content" method="POST" action="" >
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                     {{ form.name(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.quantity.label(class="form-control-label") }}
                    {{ form.quantity(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.manufacturer.label(class="form-control-label") }}
                    {{ form.manufacturer(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.summary.label(class="form-control-label") }}
                    {{ form.summary(class="form-control form-control-lg") }}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="form-button") }}
            </div>

        </form>
    </div>

{% endblock %}