{% extends "sidebar.html" %}

<!-- In the head of the HTML file-->
{% block title %} Test {% endblock %}

{% block body %}
    {% if not inventory %}
        <article class="article-section">
            <div class="article-content">
                <p>No items in inventory</p>
            </div>
        </article>

    {% else %}
        {% for item in inventory %}

            <article class="article-section">
                <figure class="article-image">
                    <img src="/static/item_images/default.jpg" alt="This is an image">
                </figure>
                <div class="article-content">
                    <h3><a class="article-title" href="#">{{ item.name }}</a></h3>
                    <p class="article-metadata">Manufacturer: {{ item.manufacturer }}</p>
                    <p class="article-metadata">Quantity: {{ item.quantity }}</p>
                    <p class="article-text">Summary: {{ item.summary }}</p>
                </div>
            </article>


        {% endfor %}
    {% endif %}
{% endblock %}