{% extends "base.html" %}

<!-- In the head of the HTML file-->
{% block title %} Test {% endblock %}

<!-- In the body of the HTML file-->
{% block content %}
    <div style="margin: 0; overflow: hidden;" class="row">

        <!-- Static Side Bar -->
        <nav style="overflow: hidden;" class="nav flex-column col-md-2 left-justified sidebar vh-100">
            <a class="nav-link text-center sidebar-element" href="{{ url_for('routes.new_item') }}">New Item</a>
            <a class="nav-link text-center sidebar-element" href="#">Link</a>
            <a class="nav-link text-center sidebar-element" href="#">Link</a>
            <p class="nav-link text-left sidebar-paragraph">Est ferox fluctus, cesaris.Castors sunt aonidess de azureus
                lanista.</p>
        </nav>

        <!-- Dynamic Content -->
        <div style="overflow: hidden;" class="col-md-8">
            {% block body %}{% endblock %}
        </div>
    </div>
{% endblock %}